body {
  background-color: #001528;
}



article {
  padding: 13px;
  line-height: 1.5;
}

@media (min-width: 300px) {

  main {
    width: 350px;
    max-width: 100%;
    margin: 30px auto;
  }

  .grid-container {
    display: block;
  }

  .item {
    margin-bottom: 20px;
    width: 350px;
    max-width: 100%;
  }


  
}

@media (min-width: 736px) {

  main {
    width: 750px;
    max-width: 100%;
    margin: 30px auto;
  }
  .grid-container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 220px 170px 170px 150px;
    grid-template-rows: 300px 300px 300px;
    grid-gap: 5px;
    grid-template-areas: 
     "first first second second"
     "first first third third"
     "fourth fourth fifth fifth"
  }

  .item1 {
    grid-area: first;
  }
  
  .item2 {
    grid-area: second;
  }
  
  .item3 {
    grid-area: third;
  }
  
  .item4 {
    grid-area: fourth;
  }
  
  .item5 {
    grid-area: fifth;
  }


  .item {
    margin-bottom: 0px;
    width: auto;
    max-width: 100%;
  }

}

@media (min-width: 1020px) {

  main {
    width: 1000px;
    max-width: 100%;
    margin: 30px auto;
  }

  .grid-container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 250px 250px 220px 220px;
    grid-template-rows: 300px 300px 300px;
    grid-gap: 10px;
    grid-template-areas: 
     "first first second second"
     "first first third third"
     "fourth fourth fifth fifth"
  }

  .item1 {
    grid-area: first;
  }
  
  .item2 {
    grid-area: second;
  }
  
  .item3 {
    grid-area: third;
  }
  
  .item4 {
    grid-area: fourth;
  }
  
  .item5 {
    grid-area: fifth;
  } 
}

