footer {
  background-color: #F6AA1C;
  text-align: center;
  padding: 20px;
  width: 100%;
}

footer section {
  margin: 30px;
  margin-bottom: 50px;
}

footer section h3 {
  font-size: 1.5rem;
  margin-bottom: 13px;
}

footer section input {
  padding: 15px;
  width: 300px;
  font-size: 1rem;
  border-radius: 40px;
  outline: none;
  box-shadow: none;
}

footer section .submit {
  color: white;
  text-decoration: none;
  background-color: black;
  font-size: 1rem;
  padding: 15px;
}